version: 2
jobs:
  build:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       - cargo-cache-{{ checksum "Cargo.toml" }}
      #       - cargo-cache-
      # - run: cargo build
      # - run: cargo test
      - setup_remote_docker
      - run: echo $EU_GCR_API_KEY_JSON | docker login -u _json_key --password-stdin https://eu.gcr.io
      # TODO: coverage https://abronan.com/building-a-rust-project-on-circleci/
      - run: docker build -t "eu.gcr.io/dom-5-status/dom-5-status" -t "eu.gcr.io/dom-5-status/dom-5-status:${CIRCLE_SHA1}" .
      - run: mkdir -p workspace
      - run: docker save -o workspace/dom-5-status.tar "eu.gcr.io/dom-5-status/dom-5-status:${CIRCLE_SHA1}"
      - persist_to_workspace:
          root: ./workspace
          paths: dom-5-status.tar

      # - save_cache:
      #     key: cargo-cache-{{ checksum "Cargo.toml" }}
      #     paths:
      #       - "~/.cargo"
      #       - "./target"
      #       - "/usr/local/cargo"

  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - setup_remote_docker
      - run: echo $EU_GCR_API_KEY_JSON | docker login -u _json_key --password-stdin https://eu.gcr.io

      - attach_workspace:
          at: ./workspace

      - run: docker load -i workspace/dom-5-status.tar
      - run: docker push "eu.gcr.io/dom-5-status/dom-5-status:${CIRCLE_SHA1}"

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy_approval:
          type: approval
          requires:
           - build
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build
            - deploy_approval
          filters:
            branches:
              only: master
